.pinFieldWrapper {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.pinField {
  border: 2px solid #fff;
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  height: 56px;
  width: 56px;
  border-radius: 16px;
  background-color: transparent;
  outline: none;
  text-align: center;
  transition-duration: 250ms;
  transition-property: color, border, box-shadow, transform;
  overflow: hidden;
  &.error {
    border-color: var(--color-error) !important;
  }
  &::placeholder {
    color: #fff;
  }
  &:focus {
    &::placeholder {
      color: transparent;
    }
    border-color: var(--color-accent-1);
  }
  &:invalid {
    animation: shake 5 linear 75ms;
    border-color: var(--color-error);
  }
  &:disabled {
    background: rgba(var(--color-accent-1), 0.1);
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@media screen and (max-width: 430px) {
  .pinFieldWrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 8px;
    row-gap: 16px;
  }
  .pinField {
    margin-left: 0;
  }
}

@keyframes shake {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(5%);
  }
}
