.iconButton {
  height: 36px;
  display: flex;
  justify-content: center;
  border: none;
  background-color: var(--text-color-main);
  color: var(--bg-color-main);
  font-weight: 700;
  font-size: 14px;
  padding: 0 16px;
  border-radius: 6px;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  transition-property: color, background-color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  width: 100%;
  &:hover {
    background-color: var(--color-accent-1);
    color: var(--bg-color-main);
  }
  &.outlined {
    border: 2px solid var(--text-color-accent);
    background-color: transparent;
    color: var(--text-color-accent);
    &:hover {
      color: var(--text-color-main);
      border: 2px solid var(--text-color-main);
      background-color: transparent;
    }
  }
}
